<div class="input-group">
  <span class="input-group-btn">
    <button [ngClass]="btnClasses" type="button" (click)="changeValue(-5)">
      <i class="fa fa-minus"></i>
    </button>
  </span>

  <input type="number"
        class="form-control"
        [ngClass]="{'is-invalid': progress > 100 || progress < 0}"
        placeholder="Progress"
        (ngModelChange)="onChangeInputValue($event)"
        [(ngModel)]="progress">

  <span class="input-group-btn">
    <button [ngClass]="btnClasses" type="button" (click)="changeValue(5)">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
