<div class="row animated fadeIn fast">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

            <input type="text" class="form-control" placeholder="Search hospital...">

          </div>
      </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Total Hospitals ({{hospitals.length}})</h4>
            <h6 class="card-subtitle">Hospitals from Database</h6>
          </div>

          <div class="col">
            <div class="text-right">
              <button class="btn btn-primary">
                <i class="fa fa-hospital-o"></i>
                Create hospital
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="w100">Image</th>
                  <th>Name</th>
                  <th class="text-nowrap">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hospital of hospitals">
                  <td class="text-center">
                    <img [src]="hospital.img | image:'hospitals'"
                        [alt]="hospital.name"
                        class="avatar cursor-pointer">
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="hospital.name" placeholder="Hospital name">
                  </td>
                  <td class="text-nowrap text-center">
                      <a href="#" data-toggle="tooltip" data-original-title="Save changes"> <i class="fa fa-floppy-o text-inverse m-r-10"></i> </a>
                      <a href="#" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>

        <!-- <button class="btn btn-secondary mr-2">Previous</button>
        <button class="btn btn-secondary">Next</button> -->

      </div>
    </div>
  </div>
</div>
