<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Users</h3>

        <div *ngIf="users.length === 0" class="alert alert-info animated fadeIn fast">
          <p class="mb-0">
            No users with that term
          </p>
        </div>

        <div *ngIf="users.length > 0" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" class="animated fadeIn fast">
                <td>
                  <img [src]="user.img | image:'users'" class="avatar">
                </td>
                <td>{{user.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Doctors</h3>

        <div *ngIf="doctors.length === 0" class="alert alert-info animated fadeIn fast">
          <p class="mb-0">
            No doctors with that term
          </p>
        </div>

        <div *ngIf="doctors.length > 0" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors" class="animated fadeIn fast">
                <td>
                  <img [src]="doctor.img | image:'doctors'" class="avatar">
                </td>
                <td>
                  <a [routerLink]="['/dashboard/doctor/', doctor._id]">{{doctor.name}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>


  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitals</h3>

        <div *ngIf="hospitals.length === 0" class="alert alert-info animated fadeIn fast">
          <p class="mb-0">
            No hospitals with that term
          </p>
        </div>

        <div *ngIf="hospitals.length > 0" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals" class="animated fadeIn fast">
                <td>
                  <img [src]="hospital.img | image:'hospitals'" class="w75">
                </td>
                <td>{{hospital.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
