<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Users</h3>

        <div class="alert alert-info">
          <p class="mb-0">
            No users with that term
          </p>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Deshmukh</td>
                <td>Prohaska</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Doctors</h3>

        <div class="alert alert-info">
          <p class="mb-0">
            No doctors with that term
          </p>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Deshmukh</td>
                <td>Prohaska</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>


  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitals</h3>

        <div class="alert alert-info">
          <p class="mb-0">
            No hospitals with that term
          </p>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Deshmukh</td>
                <td>Prohaska</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
